@import "./Variables.scss";
@import "./Basics.scss";

//This is the styling for all pages. 

// Styling history page
.history{
    width: 900px;
    padding:50px;
    margin: auto;
    background: $dark;
    margin-top: 100px;
    margin-bottom: 200px;
    color:$light;
    border-radius: 10px;
    @include tablet{
      width: 90%;
    }

    &_previousLogs{
      margin-top: 100px;
    }


    &__log{
        background-color: $light;
        border-radius: 7px;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        color: $dark;
        @include tablet{
          flex-direction: column;
        }

        &__button{
          padding: 15px;
          border-radius: 15px;
          margin:5px;
          border: none;
          background-color: $dark;
          color: white;
          height: 50px;
        }
        &__button:hover{
          background-color: white;
          color: $dark;
        }
    }
    ul{
        width: 33%;
        @include tablet{
          width: 100%;
        }
    }

}

//Styling home page
.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    &__header{
        background-image: url(../components/img/climber1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8,1fr);
        &__loginform{
          grid-column: 4/6;
          grid-row: 3/7;
          background-color: rgba(255, 255, 255, 0.582);
          padding-bottom: 50px;
          padding-left:20px;
          padding-right: 20px;
          border-radius: 10px;
          font-weight: bold;
          a{
            text-decoration: underline;
            color: $dark;
          }
          a:hover{
            color: $light;
          }
        }
        &__slogan1{
        grid-column: 6/7;
        grid-row:7/8;
        font-weight: bold;
        font-size: 1.5em;
        @include tablet{
          display: none;
        }
        }
        &__slogan2{
        grid-column: 7/8;
        grid-row:6/7;
        font-weight: bold;
        font-size: 1.5em;
        @include tablet{
          display: none;
        }
        }
        &__slogan3{
        grid-column: 8/9;
        grid-row:5/6;
        font-weight: bold;
        font-size: 1.5em;
        @include tablet{
          display: none;
        }
        }
    }
    &__introText{
      // margin-top: 50px;
      margin-bottom: 100px;
      text-align: center;
      width: 600px;
      margin: auto;
      @include tablet{
        width: 70%;
      }
      @include phone{
        width: 90%;
      }
      h2{
        color: $dark;
        margin-bottom: 30px;
        margin-top: 50px;
        }
    }
    &__featuresSection{
        display:  flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
        text-align: center;
        h2{
          color: $dark;
          margin-bottom: 30px;
          }
        &__features{
          display: flex;
          justify-content: center;
          flex-direction: row;
          width: 70%;
          margin:auto;
          margin-bottom: 200px;
          @include tablet{
            flex-direction: column;
            width: 70%;
          }
          h3{
            font-size: 1.5em;
          }

          &__image{
            background-image: url(../components/img/statistics.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border: 2px solid black;
            background-position: center;
            border-radius: 25px;
            width: 350px;
            height: 500px;
            margin-bottom: 50px;
            margin: auto;
            @include phone{
              width: 100%;
            }
          }
          &__text{
            width: 40%;
            margin-left: 40px;
            text-align: left;
            margin: auto;
            @include tablet{
              width: 70%;
              margin-top: 50px;
            }
            &__line{
              margin-bottom: 20px;
              &__checkmark{
                display: flex;
                flex-direction: row;
                align-items: center;
                img{
                  height: 20px;
                  margin-right: 20px;
                }
              }
            }
          }
        }
    }


}
//Styling Start page
.start{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  &__header{
      background-image: url(../components/img/lorenzo.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8,1fr);
      &__logo{
        grid-column: 4/6;
        grid-row: 2/3; 
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        @include tablet{
          grid-column: 3/7;
          grid-row: 2/3;
        }
        h1{
          font-size: 3.5em;
        }
        img{
          width: 100px;
          height: auto;
          margin-right: 30px;
        }  
      }
      &__loginform{
        grid-column: 4/6;
        grid-row: 4/8;
        background-color: rgba(255, 255, 255, 0.582);
        padding-bottom: 50px;
        padding-left:20px;
        padding-right: 20px;
        border-radius: 10px;
        font-weight: bold;
        margin-bottom: 40px;
        @include tablet{
          grid-column: 3/7;
          grid-row: 4/7;
        }
        a{
          text-decoration: underline;
          color: $dark;
        }
        a:hover{
          color: $light;
        }

      }
      &__slogan1{
      grid-column: 7/9;
      grid-row:6/7;
      font-weight: bold;
      font-size: 1.5em;
      margin-left: 40px;
      @include tablet{
        display: none;
      }

      }
      &__slogan2{
      grid-column: 7/9;
      grid-row:5/6;
      font-weight: bold;
      font-size: 1.5em;
      margin-left: 40px;
      @include tablet{
        display: none;
      }

      }
      &__slogan3{
      grid-column:7/9;
      grid-row:4/5;
      font-weight: bold;
      font-size: 1.5em;
      margin-left: 40px;
      @include tablet{
        display: none;
      }

      }
  }
  &__introText{
    // margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    width: 600px;
    margin: auto;
    @include tablet{
      width: 70%;
    }
    h2{
      color: $dark;
      margin-bottom: 30px;
      margin-top: 50px;
      }
  }
  &__featuresSection{
      display:  flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 100px;
      text-align: center;
      h2{
        color: $dark;
        margin-bottom: 30px;
        }
      &__features{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 70%;
        margin:auto;
        margin-bottom: 200px;
        @include tablet{
          flex-direction: column;
        }
        h3{
          font-size: 1.5em;
        }

        &__image{
          background-image: url(../components/img/statistics.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          border: 2px solid black;
          background-position: center;
          border-radius: 25px;
          width: 350px;
          

        }
        &__text{
          width: 40%;
          margin-left: 40px;
          text-align: left;
          &__line{
            margin-bottom: 20px;
          }
        }
      }
  }
}

//Styling page for Analytics
.analytics{
  width: 70%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
  min-height: 100vh;

  @include phone{
    padding-top: 0px;
  }
}