//This is the styling file where all the variables and miins are set as well as color theime. 

//font-family: 'Poppins', sans-serif;
//font-family: 'Source Code Pro', monospace;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,800&family=Source+Code+Pro:wght@400;700&display=swap');



//fonts
$navbar-font:'Poppins', sans-serif;

//Color themes
$dark: #395B62;
$light: #D2E8E3;
$primary: rgb(162, 162, 246);
$background: rgb(244, 244, 255);

//spacing
$spacing-medium: 16px;
$spacing-large:32px;

//Border 
$borderRatuius:12px;
$borderHeight:100px;

@mixin titles{
    color: $dark;
    text-decoration: underline;
    margin-bottom: 30px;

}
