//Importing variables
@import './../styles/variables.scss';

//Mixins
@mixin small-phone {
    @media (max-width: 520px) {
      @content;
    }
  }
  
  @mixin phone {
    @media (max-width: 750px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 1100px) {
      @content;
    }
  }
  .footer{
      background: $dark;
      width: 100%;
      text-align: center;
      color:white;
      padding-top: 5px;
      padding-bottom: 5px;
  }