//Importing variables
@import './../styles/variables.scss';
@import "./../styles/index.scss";


.formDiv{
width: 100%;
display: flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 50px;
form{
    width: 400px;
}
}